*{
    box-sizing: border-box;
    margin: 0;
    padding:
}

header li{
    display: inline;
}

.container{
    width: 1366px;
    margin: 0 auto;
}

.article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
img{
    /*height: 180px; */
    width: 100%;

}

article{
    width: 30%;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body >header{
    background-color: rgb(0, 0, 0);
    padding: 16px 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

section{
    padding: 16px 0;
}
h3, h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section h2, .article article{
    margin-bottom: 16px;
}

.article article h3{
    margin-top: 10px;
    margin-bottom: 5px;
}

.article article a{
    background-color: violet;
    color: black;
    padding: 9px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-top: 10px;
}

.article article a:hover{
    text-decoration: none;
}

header li a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    margin-left: 16px;
    }

    .article article p{
        font-family: Arial, Helvetica, sans-serif;
    }

    .article article h3{
        font-size: 24px;
    }

    section h2{
        font-size: 32px;
    }

#sessao-esportes{
    background-color:rgba(114, 187, 114, 0.39);
}

#sessao-economia{
    background-color: rgba(99, 135, 236, 0.418);
}

#sessao-entretenimento{
    background-color:rgba(151, 94, 184, 0.397);
}

#sessao-tecnologia{
    background-color: rgba(0, 56, 160, 0.425);
}

#sessao-esportes a{
    background-color:rgb(114, 187, 114) ;
    text-decoration: none;
}

#sessao-economia a{
    background-color: rgb(99, 135, 236);
    text-decoration: none;
}


#sessao-entretenimento a{
    background-color: rgb(151, 94, 184);
    text-decoration: none;
}


#sessao-tecnologia a{
    background-color: rgb(0, 56, 160);
    text-decoration: none;
}

